<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <div>
        <h2>{{title}}</h2>
    </div>

  </body>
  {{> footer}}
</html>
